*{
  margin: 0px;
  padding:0px;
}


body{
  background-color: #DADADA;
}

.login{
  border: solid 1px #AFAFAF;
  width: 300px;
  margin:10px auto;
  padding: 50px;
  text-align: center;
  background-color: #FFFFFF;
}

.campo{
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: solid 1px #AFAFAF;
}

.login img {
  margin-bottom: 10px;
}

.botao {
  padding: 10px 30px;
  background-color: #3399ff;
  border: solid 1px #003366;
  color: #FFFFFF
  font-size: 15px;
  margin-bottom: 10px;
}

.botao:hover {
  background-color: #0076e6;
  
}
